.obrazek_naglowek{
background: url("../img/logo.jpg") center center no-repeat;
background-size: cover;
height: 100vh;
overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

h3{
    text-align: center;
    font-size: 25px;
}

footer {
    
    margin-top: 10px;
    background-color: #eee;
}
    
table, td, tr  {
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
}

#carousel-example-generic{
    margin: auto;
    width: 45%;
    margin-bottom: 10px;
}

.span4{
    cursor: pointer;
}

#nag1 {
	text-align: justify;
}

#nag2 {
	text-align: justify;
    margin-bottom: 10px;
}
